html {
  height: 98%;
}

body {
  font-family: Helvetica;
  background-color: #333333;
  color:WhiteSmoke;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    height: 100%;
}

a {
  text-decoration: underline;
}

.song-name {
  font-size: 15pt;
}

.inputDirName {
  white-space: nowrap;
  font-size: 9pt;
}

.path-display {
  text-align: center;
  background-color: WhiteSmoke;
  color: #333333;
  font-Size: 10pt;
}

.export　{
  background-color:DimGray !important;
  color: WhiteSmoke !important;
}
