body {
  margin: 2% 4%;
  font-family: Helvetica;
  background-color: #333333;
  color:WhiteSmoke;
}

a {
  text-decoration: underline;
}

.song-name {
  font-size: 15pt;
}

.inputDirName {
  white-space: nowrap;
  font-size: 9pt;
}

.path-display {
  text-align: center;
  background-color: WhiteSmoke;
  color: #333333;
  font-Size: 10pt;
}

.export　{
  background-color:DimGray !important;
  color: WhiteSmoke !important;
}
